$background: #011301;
$block-bg: #010201;
$turquoise: #07e0b0;
$blok-bg__hover: rgba(7, 223, 176, 0.08);

$devider-border-bg: #036547;
$small-text-color: #e4e4e4;
$placeholder-color: #afafaf;

$orbitron-font: "Orbitron", sans-serif;
$ibm-font: "IBM Plex Sans", sans-serif;
